@use "../../styles/variables" as v;

.nav-bottom{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: sticky;
    top: 70px;
    background: v.$color5;
    z-index: 10;
}
.nav-link:hover{
        color: v.$color2 !important;
    }


@media (max-width:992px) {
   

    .offcanvas-body{
     background: v.$color1;
   
     a{
         color: v.$color4 !important;
         
     }
 } 
 }
 
