@use "../../../styles/variables" as v;

.testimonials{
    height: 70vh;
    background-image: url("./coffe.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    color: v.$color4;
    padding-bottom: 45px;
    font-weight: 200;
  
    .card{
      background: v.$color1;
      display: flex;
      justify-content: center;
      transition:all  .5s ease-in-out;
      -webkit-transition:all  .5s ease-in-out;
      -moz-transition:all  .5s ease-in-out;
      -ms-transition:all  .5s ease-in-out;
      -o-transition:all  .5s ease-in-out;
}
    .card:hover{
      background: v.$color2;
      background: rgb(246, 180, 58);
      transition:all  .3s ease-in-out;
      -webkit-transition:all  ;
      -moz-transition:all  ;
      -ms-transition:all  ;
      -o-transition:all  ;
      p{

        color: black;
        opacity: .8;
      }
    }
    img{
        width: 20%;
        height: 75px;
        object-fit: cover;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
  }
  
  .card .card-img-top {
    margin: auto; /* Centrer verticalement */
  }
  h6{
    font-size: 48px;
    line-height: 40px;
    text-align: left;
  }
  p{
    opacity: .4;
  }
  .avatar{
    width: 20px;
    display: flex;
    justify-content: start;
    align-items: end;
    width: 90%;
    margin:auto;

  }
  .student{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}