@use "../../../styles/variables" as v;

.testimonials{
    height: 70vh;
    background-image: url("./coffe.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    color: v.$color4;
    padding-bottom: 45px;
    font-weight: 200;
  
    .card{
          display: flex;
      justify-content: center;
    }
    img{
    
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
  }
  
  .card .card-img-top {
    margin: auto; /* Centrer verticalement */
  }
  
}